<%- include('parts/header') %>

<% if (invites && invites.length > 0) { %>
<%- include('parts/invites-section') %>
<% } %>

<section class="page-section">
    <header class="section-header grid">
        <h1>Мои группы</h1>
        <a href="#" class="button button-dark" onclick="formToggle(this);">Создать группу</a>
    </header>
    <div class="section-content">
        <div class="add-form" style="display: none;">
            <form action="/groups/create" method="post" class="grid">
                <input type="text" name="title" id="title" class="full-width" placeholder="Название группы">
                <input type="submit" value="Создать">
            </form>
        </div>
        <% if (groups && groups.length > 0) { %>
            <div class="groups-container">
            <% groups.forEach(group => { %>
                <div class="group grid">
                    <a href="/groups/<%= group.id -%>" class="group-link grid">
                        <p class="title"><%= group.title -%></p>
                        <p class="members-conut"><i class="fas fa-user"></i> <%= group.Users.length -%></p>
                        <p class="lists-count"><i class="fas fa-clipboard-list"></i> <%= group.Lists.length -%></p>
                    </a>
                </div>
            <% }) %>
            </div>
        <% } else { %>
            <p>Вы не состоите ни в одной группе!</p>
        <% } %>
    </div>
    <script>
        function formToggle (el) {
            $('.add-form').toggle();
            if ($(el).text() == 'Создать группу') $(el).text('Отмена');
            else $(el).text('Создать группу');
        }
    </script>
    <script src="/js/add-form.js"></script>
</section>

<%- include('parts/footer') %>