<%- include('parts/header') %>

<h1>Группа: <%= group.title -%></h1>
<p>Создатель: <%= group.Owner.username -%></p>
<% if (group.Owner.id == user.id) { %>
    <a href="#" onclick="delGroupClick();">Удалить группу</a>
    <script>
        function delGroupClick() {
            $.ajax({
                url: '/groups/remove',
                type: 'POST',
                data: {groupId: <%= group.id -%>},
                success: function(data) {
                    data = JSON.parse(data);
                    if (data.message) createNotify(data.status, data.message);
                    if (data.redirect) window.location.replace(data.redirect);
                },
                error: function() {
                    createNotify('Fail', "Возникла ошибка!");
                }
            });
        }
    </script>
<% } else { %>
    <a href="#" onclick="leaveGroupClick();">Покинуть группу</a>
    <script>
        function leaveGroupClick() {
            $.ajax({
                url: '/groups/leave',
                type: 'POST',
                data: {groupId: <%= group.id -%>},
                success: function(data) {
                    data = JSON.parse(data);
                    if (data.message) createNotify(data.status, data.message);
                    if (data.redirect) window.location.replace(data.redirect);
                },
                error: function() {
                    createNotify('Fail', "Возникла ошибка!");
                }
            });
        }
    </script>
<% } %>

<section class="page-section">
    <header class="section-header grid">
        <h1>Участники группы</h1>
        <a href="#" class="button button-dark" onclick="formToggleGroups(this);">Добавить участника</a>
    </header>
    <div class="section-content">
        <div id="add-group" class="add-form" style="display: none;">
            <form action="/groups/invites/create" method="post" class="grid">
                <input type="text" name="username" id="username" class="full-width" placeholder="Имя пользователя">
                <input type="hidden" name="groupId" value="<%= group.id -%>">
                <input type="submit" value="Пригласить">
            </form>
        </div>
        <% if (group.Users && group.Users.length > 0) { %>
            <% group.Users.forEach(_user => { %>
                <div class="member<% if (group.Owner.id == _user.id) { %> owner<% } %><% if (_user.id == user.id) { %> me<% } %>">
                    <p class="username"><%= _user.username -%></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>В группе нет участников!</p>
        <% } %>
    </div>
    <script>
        function formToggleGroups (el) {
            $('.add-form#add-group').toggle();
            if ($(el).text() == 'Добавить участника') $(el).text('Отмена');
            else $(el).text('Добавить участника');
        }
    </script>
</section>

<script>var groupId=<%= group.id -%>;</script>
<%- include('parts/lists-section', {groupId: group.id, sectionTitle: 'Списки группы'}) %>

<%- include('parts/footer') %>